*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    max-width: 1600px;
    margin: auto;
    padding: 40px;
    background-color: rgb(235, 235, 235);
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 26px;
    column-gap: 26px;
}

@media (max-width: 1400px){
    .container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1000px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

.cards, .addcards{
    height: 200px;
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.addcards{
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
}

.display{
    height: 100%;
    background-color: #ffffff;
    border-radius: 6px;
    width: 100%;
}

.content{
    margin: 10px;
}

.content p{
    color: grey;
    font-size: 14px;
}

.about{
    margin-top: 26px;
    font-size: 12px;
}

.phone{
    margin-top: 24px;
    color: black !important;
    font-size: 16px !important;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    row-gap: 10px;
}


.btn-container div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    background-color: rgb(47, 120, 255);
    color: white;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 6px;
    padding: 0 10px;
}


/*-------------POP UP----------------*/ 

.pop-up{
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.774);
}

.input-box{
    width: 400px;
    padding: 40px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}


.cross-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}


.input-box h3{
    margin-bottom: 30px;
}

.input-box input{
    width: 100%;
    padding: 8px;
    outline: 0;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}


.input-box button{
    padding: 6px 10px;
    font-size: 20px;
    margin: auto;
    background-color: rgb(47, 120, 255);
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
}